---
import MainLayout from '../../layouts/MainLayout.astro'
const posts = await Astro.glob('../../pages/blog/*.md')
import Card from '../../layouts/Card.astro'
---

<MainLayout title='Tarmo'>
  <div class='py-4'>
    <ul class='gap-4 flex flex-row max-w-7xl	'>
      {
        posts
          .filter((post) => post.frontmatter.draft === false)
          .map((post) => (
            <li class='flex w-full flex-col'>
              <a href={post.url}>
                <Card
                  title={post.frontmatter.title}
                  description={post.frontmatter.description}
                  tags={post.frontmatter.tags}
                />
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</MainLayout>