---

---

<footer class='footer'>
	<nav class='nav'>
		<div>
			2024 &copy; Copyright notice | <span
				>Programación competitiva, Hacking a veces</span
			>
		</div>
	</nav>
	<style>
		.footer {
			@apply py-6 border-t;
		}
	</style>
</footer>
