<div class='flex justify-between'>
  <a href='/'>
    <h1><strong>Tarmo</strong></h1>
    <span class='font-bold text-zinc-500'>No se a que te dedicas</span>
  </a>
  <div class='flex gap-4'>
    <a href='https://github.com/taarmo' rel='noreferrer' target='_blank'
      >Github</a
    >
    <a href='https://twitter.com/t4rmo' rel='noreferrer' target='_blank'
      >Twitter</a
    >
    <a href='https://discord.gg/6cbsQtXGS4' rel='noreferrer' target='_blank'>
      Discord</a
    >
  </div>
</div>
