<div class='flex justify-between border-b-2'>
    <a href='/'>
      <h1><strong class="system-ui text-lg">Tarmo</strong><span class="text-xs text-yellow-500">.me</span></h1>
  </a>
  
  <div class='system-ui flex gap-4 font-bold'>
    <a href='https://github.com/taarmo' rel='noreferrer' target='_blank'
      >Github</a
    >
    <a href='https://twitter.com/t4rmo' rel='noreferrer' target='_blank'
      >Twitter</a
    >
    <a href='https://discord.gg/6cbsQtXGS4' rel='noreferrer' target='_blank'>
      Discord</a
    >
  </div> 
</div>
